env/*
.ipynb_checkpoints/*
__pycache__/
utils/.ipynb_checkpoints/*
ioi_task/.ipynb_checkpoints/*
ims/*.png
ioi_task/ims/*.png
docstring_task/ims/*.png
.python-version
ims/*
.python-version
greaterthan_task/ims/*
.vscode
eap/ims/*